@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: Acherus Militant;
  src: url(../Assets/Fonts/acherus_militant_1_-_bold.otf.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 66.7%;
}

html{
  scroll-behavior:smooth;
}

header {
  padding: 1vw;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-left {
  width: 50%;
}

.home-link {
  text-decoration: none;
  color: black;
  display: inline-flex;
  flex-direction: row;
  img {
    width: 3vw;
    height: 2.2vw;
  }
}

.logo {
  margin-left: 2vw;
  margin-top: 0.9vw;
}

.logo-name {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8vw;
}

.navbar-right {
  display: flex;
  margin: auto;
  font-family: inter;
}

.login {
  margin-right: 1vw;
  padding: 1vw;
  font-size: 1.1vw;
  text-decoration: none;
  border: 1px solid #ff5200;
  border-radius: 8px;
  color: #ff5200;
  padding: auto 10rem;
  display: none;
  cursor: pointer;
}

.login:hover {
  background-color: #ff5200;
  color: white;
}
.nav-buttons {
  margin-right: 1vw;
  padding: 1vw;
  font-size: 1.1vw;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5vw;
  font-size: 10rem;
}
.explore {
  font-family: Playfair Display;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 4vw;
}

.explore-search {
  margin-right: 5vw;
  display: flex;

  input {
    background-color: #c4c4c4;
    width: 100%;
    font-size: 1.7vw;
    font-family: Playfair Display;
    font-weight: bold;
    border: none;
    padding-left: 1vw;
  }
  button {
    background-color: #c4c4c4;
    border: none;
    cursor: pointer;
    padding-top: 0.5rem;
    img {
      height: 5vh;
    }
  }
}
.elem1,
.elem2,
.elem3 {
  position: absolute;
}
.elem1 {
  width: 1.7%;
  top: 48%;
  left: 5%;
}
.elem2 {
  width: 1.3%;
  top: 20%;
  left: 40%;
}
.elem3 {
  bottom: 13%;
  left: 47%;
  width: 1.3%;
}

.explore-button {
  cursor: pointer;
  border-radius: 8px;
  width: 10vw;
  padding: 1vw;
  font-size: 1.1vw;
  color: white;
  font-family: mulish;
  font-weight: normal;
  background-color: #ff5200;
  text-align: center;
  text-decoration: none;
}

.explore,
.illustration-1 {
  text-align: center;
  width: 50%;
}

.illustration-1 {
  img {
    width: 90%;
    height: 90%;
  }
}

.section-2 {
  margin: 11vw;
  position: relative;
  text-align: center;
}

.featured-section {
  margin: 1px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.featured-name {
  padding-bottom: 3vw;
  font-family: PLayfair Display;
  font-size: 2.3vw;
}
.elem1-2 {
  position: absolute;
  right: 15%;
  top: -30%;
  width: 1.5%;
}
.view-all {
  cursor: pointer;
  font-family: inter;
  color: #ff5200;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  img {
    width: 0.8vh;
    animation: anime 1s infinite;
  }
}

@keyframes anime {
  0% {
    transform: translateX(0.5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(0.5vw);
  }
}

.featured-location {
  display: flex;
  justify-content: space-between;
  a {
    cursor: pointer;
    width: 22%;
  }
}

.location {
  width: 100%;
}
.location-name {
  color: black;
  font-size: 1.5vw;
  padding: 1vw;
  font-family: Playfair Display;
  text-align: center;
  &:hover{
    text-decoration: underline;
  }
}

.elem2-2 {
  width: 1.5%;
}

.section-3 {
  padding: 10vw 5vw 10vw 0vw;
}

.section-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.illustration-about-us {
  width: 50%;
  img {
    width: 85%;
  }
}

.text-about-us {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 12vw;
  padding-left: 5vw;
  position: relative;
}

.heading {
  font-family: Playfair Display;
  font-size: 2.5vw;
  padding-bottom: 1vw;
}

.info {
  font-size: 1.1vw;
  line-height: 1.8vw;
  font-family: mulish;
  color: #7d7987;
  font-weight: lighter;
  padding-bottom: 1.3vw;
}
.elem1-3 {
  width: 1.3%;
  position: absolute;
  right: 50%;
}
.elem2-3 {
  width: 2.8%;
  position: absolute;
  right: 30%;
  bottom: 15%;
}

.section-4 {
  display: flex;
  align-items: center;
  position: relative;
  margin: 9vw;
}

.explore-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vw;
  padding-left: 2.4vw;
  width: 39%;
  img {
    width: 1.6%;
    position: absolute;
    left: 7%;
    top: -20%;
  }
}

.elem2-4 {
  position: absolute;
  right: 10%;
  top: -40%;
  width: 1.3vw;
  transform: rotateZ(20deg);
}

.illustration-s4 {
  position: absolute;
  right: -10%;
  z-index: -99;
  width: 80%;
  img {
    width: 90%;
  }
}

.section-5 {
  margin: 10vw;
  margin-top: 15vw;
  h1 {
    font-family: inter;
    font-size: 3vw;
    padding-bottom: 4vw;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  div {
    background-color: #333333;
    width: 25%;
    position: relative;
    img {
      position: absolute;
      bottom: 20%;
      right: 30%;
      width: 35%;
    }
  }
  img {
    width: 25%;
  }
}


.section-6 {
  position: relative;
  margin: 9vw;
  h1 {
    font-family: Playfair Display;
    font-size: 2.5vw;
    padding-bottom: 3vw;
  }
}

.elem1-6 {
  position: absolute;
  left: 37%;
  top: -10%;
  transform: rotateZ(10deg);
}

.blog-info {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 80%;
  position: relative;
  img {
    border-radius: 8px 8px 0px 0px;
    width: 80%;
    height: 45%;
  }
}

.blog-h {
  font-family: inter;
  font-weight: bolder;
  font-size: 1.3vw;
  padding-right: 2vw;
  line-height: 2.2vw;
  padding-top: 1.2vw;
}

.blog-p {
  color: #7d7987;
  font-family: inter;
  font-weight: lighter;
  font-size: 1vw;
  padding: 1.2vw 2.5vw 1.2vw 0vw;
  line-height: 1.6vw;
}
.pp {
  padding-top: 3.2vw;
}

.read-more {
  color: #ff5200;
  font-size: 1.1vw;
  font-family: inter;
  text-decoration: none;
  padding-top: 2vw;
  position: absolute;
  bottom: 7%;
}
.elem3-6 {
  position: absolute;
  right: 33%;
  width: 1.5%;
}

footer {
  font-family: mulish;
  padding: 9vw;
  padding-bottom: 5vw;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-info {
  width: 40%;
}
.footer-p {
  color: #848484;
  font-size: 1.5vw;
  font-family: mulish;
  padding: 2vw;
  padding-right: 0;
}

.footer-explore {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  justify-content: space-evenly;
  p {
    font-size: 1.6vw;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: #676464;
  }
}

.social {
  width: 30%;
  font-weight: bold;
  font-size: 2.2vw;
  padding-top: 2vw;
  text-align: center;
}
.align {
  display: flex;
  justify-content: space-evenly;
  padding: 1vw;
}

.featured-h {
  text-align: center;
  font-size: 3.2rem;
  font-family: Playfair Display;
  font-weight: bolder;
  padding-top: 1rem;
}

.featured-destination {
  padding: 1rem;
  margin: 2vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  p {
    cursor: pointer;
    display: flex;
    flex-basis: 21%;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    font-size: 1.5vw;
    color: black;
    font-family: Playfair Display;
    font-weight: bold;
    img {
      width: 85%;
      height: 80%;
    }
  }
}

.register-login-page {
  display: flex;
  justify-content: space-around;
}

.register-login-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vw;
  form {
    text-align: center;
    input {
      border-style: none;
      border-radius: 8px;
      background-color: #f2eeee;
      margin: 1vw;
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      width: 50%;
      font-size: 1.2rem;
    }
  }
}
.login-illustration {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
}

.flex {
  position: relative;
  display: flex;
  .login-s {
    position: absolute;
    display: grid;
    justify-items: center;
    visibility: hidden;
    right: 0%;
    width: 100%;
  }
}

.b-flex {
  margin-top: 4vw;
  box-shadow: 0 0 20px 9px #2e2a2915;
  display: flex;
  font-size: 3rem;
  border-radius: 30px;
  width: 50%;
  position: relative;
  .btn-in {
    border-radius: 30px;
  }
  div {
    cursor: pointer;
    border: none;
    padding: 1vw;
    text-align: center;
    width: 100%;
  }
  .toogle {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #1877f2;
    border-radius: 30px;
    z-index: -2;
    transition: 0.5s;
    transform: translateX(0%);
  }
}

.or {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  font-size: 2.5rem;
}

.hl-name {
  text-align: center;
  font-size: 5.6rem;
  text-decoration: underline 0.8rem #523160;
  text-transform: capitalize;
}

.brief {
  margin: 10rem;
  margin-top: 20rem;
  margin-bottom: 15rem;
  iframe {
    width: 100%;
    height: 90vh;
  }
  /* font-family: Playfair Display;
    font-weight: lighter;
    padding: 2rem;
    margin-top: 20rem;
    margin-bottom: 15rem;
    display: flex;
    .brief-info{
        padding: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        h1{
            font-size: 3.5rem;
            text-align: center;
            padding: 4rem;
            font-weight: bold;
            margin-top: -5rem;
            margin-bottom: 9rem;
        }
        p{
            font-size: 1.8rem;
            font-weight: 590;
            letter-spacing: -0.5px;
            line-height: 4.3rem;
        }
    }
    .brief-img{
        padding-top: 2rem;
    } */
}

.info-visit {
  display: inline-block;
  font-size: 4rem;
  border-bottom: 0.8rem solid #523160;
}

.poi-info {
  margin: 10rem;
  margin-top: 20rem;
  display: -webkit-box;
  overflow-x: auto;
  .alignment-poi{
    width: 55%;

  }
  .poi-text {
    padding-top: 3rem;
    font-size: 2.8rem;
    width: 90%;
    h3 {
      font-size: 3.3rem;
    }
  }
}

hr {
  margin: 8rem 5rem;
  border: 1px solid black;
  text-align: center;
}

.hungry-info {
  text-align: center;
  h1 {
    letter-spacing: -0.5px;
    font-size: 4.2rem;
    padding: 12rem;
  }
  .h-i-t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .h_dis{
      display: flex;  
      padding: 3rem;
      width: 60%;
      font-size: 3.5rem;
      img{
        margin-right: 4rem;
      }
      th{
        display: grid;
        justify-items: baseline;
        a{
          color: black;
          &:hover{
            color: #1877f2;
          }
        }
      }
    }
  }
}

#acc {
  position: relative;
  display: none;
  .account {
    font-size: 1.2rem;
    line-height: 2rem;
    visibility: hidden;
    margin-top: 0.5rem;
    padding: 1rem;
    width: max-content;
    position: absolute;
    background-color: #555;
    color: white;
    span {
      font-size: 1.1rem;
    }
    .log-out {
      font-size: 1.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .account::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
  &:hover {
    .account {
      visibility: visible;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgb(255, 255, 255); /* Black w/ opacity */
  z-index: 99;
  transition: display 0.5s;
  animation: modalapp 0.3s ease-in alternate;
}

@keyframes modalapp {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 3.5rem;
  font-weight: bold;
  right: 5%;
  top: 2%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#g-profile {
  display: none;
  position: relative;
  img {
    border-radius: 50%;
    width: 4vw;
    box-shadow: 0 1px 0 rgba(5, 5, 5, 0.15);
  }
  #g-info {
    border-radius: 6px;
    font-size: 1.2rem;
    line-height: 2rem;
    visibility: hidden;
    margin-top: 0.5rem;
    padding: 1rem;
    width: max-content;
    position: absolute;
    background-color: #555;
    color: white;
    right: 50%;
    transition: visibility 0.5s;
  }
  &:hover {
    #g-info {
      visibility: visible;
      button {
        cursor: pointer;
        font-size: 1rem;
        width: 5rem;
        height: 1.8rem;
      }
    }
  }
}

.fb-login-button {
  margin-top: 1rem;
}

.About-page {
  background-color: #232323;
  font-family: Acherus Militant;
  font-size: 5rem;
  padding: 8rem 12rem;
  hr {
    border: 1px solid #daa520;
  }
}

.about-us {
  h1 {
    text-align: center;
    font-size: 9rem;
    letter-spacing: 0.3rem;
    margin-bottom: 18rem;
  }
  .au-align {
    color: #e4e0e0;
    padding: 10rem 34rem;
    p {
      font-size: 3.4rem;
      letter-spacing: 0.1rem;
    }
  }
  .div-1 {
    display: flex;
    margin: 4rem 0rem;
    justify-content: space-between;
    p {
      padding-left: 7rem;
      font-size: 2.2rem;
      line-height: 4rem;
      letter-spacing: 0.1rem;
      &:nth-child(1) {
        width: 38%;
      }
      &:nth-child(2) {
        width: 53%;
      }
    }
  }
}

.au-color-1 {
  color: #daa520;
}

.our-story {
  background-color: #373737;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  margin: 20rem 13rem;
  letter-spacing: 0.1rem;
  h1 {
    font-size: 7rem;
    text-align: center;
  }
  p {
    color: #e5e5e5;
    line-height: 4rem;
    font-weight: lighter;
    padding: 3rem 1rem;
  }
}

.our-values {
  padding-top: 20rem;
  h1 {
    font-size: 7.2rem;
    text-align: center;
    padding-bottom: 10rem;
  }
  .values-4 {
    padding: 5rem;
    color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
    .values-2 {
      width: 38%;
      .center-value {
        text-align: center;
      }
      h2 {
        font-size: 2.4rem;
        padding-bottom: 2.5rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

#modal_dest {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgb(255, 255, 255); /* Black w/ opacity */
  z-index: 999;
  transition: display 0.5s;
  animation: modalapp 0.7s ease-in alternate;
}

#modal_fdest{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgb(255, 255, 255); /* Black w/ opacity */
  z-index: 99;
  transition: display 0.4s;
  animation:  mdest 0.5s ease-in-out alternate;
  overflow: hidden;
  iframe{
    width: 100%;
    height: 100%;
  }
}



@keyframes mdest {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}

.random-img{
  display: block;
  transition: display 0.3s linear;
}



.poi_img {
  height: 45vh;
  border-radius: 8px;
}
