@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 66.7%;
}

header {
  padding: 1vw;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-left {
  width: 50%;
}

.home-link {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-link img {
  width: 6vw;
  height: 2.2vw;
}

.logo {
  margin-left: 2vw;
  margin-top: 0.9vw;
}

.logo-name {
  margin-left: -1.5vw;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8vw;
}

.navbar-right {
  margin: auto;
  font-family: inter;
}

.login {
  margin-right: 1vw;
  padding: 1vw;
  font-size: 1.1vw;
  text-decoration: none;
  border: 1px solid  #FF5200;
  border-radius: 8px;
  color: #FF5200;
  padding: auto 10rem;
}

.login:hover {
  background-color: #FF5200;
  color: white;
}

.nav-buttons {
  margin-right: 1vw;
  padding: 1vw;
  font-size: 1.1vw;
  text-decoration: none;
  color: black;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  font-size: 10rem;
}

.explore {
  font-family: Playfair Display;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 4vw;
}

.explore-search {
  margin-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore-search input {
  background-color: #C4C4C4;
  width: 100%;
  font-size: 1.5vw;
  font-family: Playfair Display;
  font-weight: bold;
  border: none;
  padding-left: 1vw;
}

.explore-search button {
  background-color: #C4C4C4;
  border: none;
}

.explore-search button img {
  height: 5vh;
}

.elem1, .elem2, .elem3 {
  position: absolute;
}

.elem1 {
  width: 1.7%;
  top: 48%;
  left: 3%;
}

.elem2 {
  width: 1.3%;
  top: 20%;
  left: 40%;
}

.elem3 {
  bottom: 13%;
  left: 47%;
  width: 1.3%;
}

.explore-button {
  border-radius: 8px;
  width: 12vw;
  padding: 1vw;
  font-size: 1.1vw;
  border: none;
  color: white;
  font-family: mulish;
  font-weight: normal;
  background-color: #FF5200;
}

.explore, .illustration-1 {
  text-align: center;
  width: 50%;
  height: 80vh;
}

.illustration-1 img {
  width: 90%;
  height: 90%;
}
/*# sourceMappingURL=landingpage.css.map */